<p id="notice"><%= notice %></p>

<p>
  <h2><%= @physician.physician_name %></h2>
</p>

<p>
  <h3>Specialty:
  <%= @physician.specialty %></h3>
</p>
<hr>

<p>
  <div class="title">
    <h3>Office Locations</h3>
  </div>
  <div class="physician_table">
    <table>
      <th>Street Address</th>
      <th>Zip Code</th>
      <th>Phone</th>

      <% @physician.offices.each do |office|%>
        <tr>
          <td><%= office.street_address %></td>
          <td><%= office.zip_code %></td>
          <td><%= office.phone %></td>
        </tr>
      <% end %>
    </table>
  </div>
</p>

<p>
  <div class="titles">
    <h3>Current Appointments</h3>
  </div>
  <div class="physician_table">
    <table>
      <th>Patient Name</th>
      <th>Date of Appointment</th>

      <% @physician.appointments.each do |app|%>
        <tr>
          <td><%= app.patient.patient_name %></td>
          <td><%= app.visit_date_time.to_formatted_s(:long_ordinal) %>
        </tr>
      <% end %>
    </table>
  </div>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
