<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label :visit_date_time %>
    <%= form.datetime_select :visit_date_time, :order => [:year, :month, :day, :hour, :minute],
          :start_year => Date.current.year, :end_year => Date.current.year + (5),
          :datetime_separator => " — ", :start_hour => 00,
          :end_hour => 23, :start_minute => 00, :end_minute => 59, 
          :selected => Date.today, :selected => Time.current.time.in_time_zone('Central Time (US & Canada)') %> 
  </div>

  <div class="field">
    <%= form.label :physician_id %>
    <%= form.collection_select(:physician_id, Physician.all, :id, :physician_name) %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.collection_select(:patient_id, Patient.all, :id, :patient_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
