<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label :visit %>
    <%= form.select(:year, (Date.today.year-1)..(Date.today.year+5), :selected => Time.current.year) %>
    <%= form.select(:month, Date::MONTHNAMES[1..12], :selected => Time.current.month) %>
    <%= form.select(:day, (Date.today.day-20)..(Date.today.day+10), :selected => Time.current.day) %>
    <%= form.select(:hour, ('00'..'23'), :selected => Time.current.hour) %>
    <%= form.select(:minutes,('00'..'59'))%>
    
  </div>

  <div class="field">
    <%= form.label :physician_id %>
    <%= form.collection_select(:physician_id, Physician.all, :id, :physician_name) %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.collection_select(:patient_id, Patient.all, :id, :patient_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
