<p id="notice"><%= notice %></p>

<p>
  <strong>Visit:</strong>
  <%= @appointment.visit_date_time.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.physician_name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.patient_name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
